[core]
  user = nishitaniyuki
  email = yuki.nishitani85@gmail.com
  excludesfile = ~/.gitignore_global
  editor = vim
  ignorecase = false
[alias]
  a = add
  c = commit
  co = checkout
  d = diff
  l = log
  r = rebase
  s = status
  sh = show
[user]
  email = yuki.nishitani85@gmail.com
  name = nishitani yuki
[credential]
  helper = osxkeychain
[ghq]
  root = ~/src

